html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.main-content .main-word-content a, .pagination-main-nav .main-word-content a, .about-content a, .ourprocedures-content a, .contacts-content .sent-form input[type="submit"] {
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #b3afaf;
  border-radius: 7px;
  width: 180px;
  word-spacing: 1px;
}

.about-content h3, .ourteam-content h3, .ourprocedures-content h3, .contacts-content h3, .surgeon-content h3, .FAQS-content h3 {
  font-weight: 300;
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #4e2c30;
}

.ourteam-content h2, .ourprocedures-content h2, .contacts-content h2, .surgeon-content h2 {
  font-weight: 300;
  font-size: 43px;
  letter-spacing: 1px;
  line-height: 48px;
  color: #a57c4f;
}


body{
  background-color: #E8FFE5;
}
.wrapper{
	position: relative;
	font-family: '微軟正黑體', cursive;
  
}



/*登入(html.html)*/

.navigation{
  background-image: url(../img/b3.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;

}

.navigation  p{
  color: #E8FFE5;
  font-size: 15px;
  font-family: '微軟正黑體', cursive;
  
}

.love-logo{
  color: #F6EB77;
  padding-top: 50px;
  font-family: 'Brush Script MT', cursive;
  font-size: 120px;
}


.loginmember{
  position: absolute;
  text-align: center;
  background-color: rgba(246, 235, 119, 0.46) ;
  height: 47.5%; 
  width: 30%;
  margin: 3% 0 0 35%;
	border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  /*padding: 30px;*/
}

.forma{
   display: block;
   padding-top: 20px;
}

.bn-signin{
  /*position: absolute;*/
  /*padding: 340px 0 0 485px ;*/
  margin-left: 250px;
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
  /*color: #428bca;*/
}

.bn-login{
  float: right;
  margin-right: 5%;
}

input{
  padding: 10px;
  border-radius: 5px ;
  border: solid 1px rgba(254, 254, 254, 0.46);
  background-color: rgba(254, 254, 254, 0.46);
}

/*登入(html.html)*/

/*註冊(sign.html)*/




.navigation2{
  z-index: 1;
  background: rgba(14, 13, 13, 0.76);
  width: 100%;
  height: 100%;
}

.signmember{
  padding: 30px;
  position: absolute;
  text-align: center;
  background-color: #F6EB77 ;
  height: 90%; 
  width: 40%;
  margin: 2.5% 0 0 30%;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

.bn-sign{
  margin-top: 50px;
}


label{
   padding: 20px;
   display: block;
}

/*註冊(sign.html)*/

/*主頁面(main.html)*/

/*新增故事按鈕*/
.bn-newstory{
  /*z-index: 1;*/
  position: fixed;
  bottom: 10;
  right: 20;
  width: 50px;
  height: 50px;
  background-color: #A82F5A;
  color: #E8FFE5;
  font-size: 25px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding-left: 15px;
  box-shadow: 3px 1px 2px #888888;
  
}

/*新增故事內容*/
.new-dialog{
  width: auto;
  padding: 20px;
}

.new-content{
  position: relative;
  padding: 10px;
  height: 100%;
  background-color: #E8FFE5;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  /*border-radius: 2px;*/

}

.new-header{
  min-height: 16.42857143px;
  padding: 15px;
  background-color: yellow;
}

.new-body{
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: yellow;
  /*padding: 5%;*/
  left: 25%;
  top: 10%;
}


/*主畫面(main.html)*/

.top-bar {
    position: relative;
    width: 100%;
    height: 55px;
    background-color: #A82F5A;
    position: fixed;
    top: 0;
    z-index: 1;
      
}


.main-logo {
  color: #F6EB77;
  font-family: 'Brush Script MT', cursive;
  font-size: 35px;
  text-align: center;
}

.top-user {   
    position: absolute;
    top: 5px;
    right: 0;
}

.top-img {
  position: absolute;
  background-image: url(../img/user-photo-shadow.png);
  width: 100px;
  height: 100px;
  background-size: cover;
  top: 10px;
  right: 20px;
}
.aa{
   color: white;
   position: absolute;
   font-style: none;
   top: 30px;
  right: 125px;
}
.post-story {
    position: relative;
    display: inline-block;
    background-color: #FFF;
    width: 30%;
    height:auto !important;
/*    height: 570px;*/
    left: 30%;
    top: 60px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #888888;
    margin: 3%;
    
}

.else-user-photo{
  position: absolute;
  background-image: url(../img/user-photo.png);
  border-radius: 50px;
  width: 75px;
  height: 75px;
  background-size: cover;
  left: -20px;
  top: -20px;
}

.story-text {
  font-size: 14px;
  padding-left: 10px;
  margin: 0;
}

.user-name{
  background-color: #A82F5A;
  display: block;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 65px;
  /*box-shadow: 0 5px 10px #888888;*/
  color: #FFF;
}

.st-photo{
  /*position: absolute;*/
  /*background-image: url(../img/newpic2.jpg);*/
  /*background-size: cover;*/
  overflow: hidden;
  width: 100%;
  height: 320px;
  
  /*max-width: 100%;*/

}

.story-message{
  background-color: rgba(55, 165, 193, 0.41);
  width: auto;
  height: 12%;
}
.story-messager-photo{
  position: absolute;
  background-image: url(../img/user-photo1.png);
  width: 45px;
  height: 45px;
  background-size: cover;
}
.story-messager-photo2{
  position: absolute;
  background-image: url(../img/user-photo2.png);
  width: 45px;
  height: 45px;
  background-size: cover;
}
.story-messager-photo h6{
  position: absolute;
  top: 35px;
  left: 5px;
  font-size: 10px;
  
}

.story-messager-text{
  font-size: 8px;
  margin: 15px 0 0 50px; 
  
}
.user-message{
  bottom: 0;
  
}
.input-message{
  width: 77%;
  height: 40px;
  background-color: rgba(206, 206, 206, 0.7);
}
.bn-comments{
  float: right;
  width: auto;
  /*height: 10px;*/

}

div[class*="story-"]{
  padding: 5px 10px 5px 10px;
}


/*新增文章(new-story.html)*/

.newstory-page {
    position: relative;
    width: 98%;
    margin: 30px auto;
}

.newstory-wall {
    position: relative;
    background-color: #fff; 
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid #999;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: 6px;
            outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.newstory-header {
    /*min-height: 30px;*/
    padding: 15px;
    border-bottom: 1px solid #A82F5A;
    position: relative;
    text-align: center;
    background-color:#A82F5A;
    height: 10%; 
    width: 100%;
    margin: 0% 0 0 0%;
}

.newstory-logo {
     color: #F6EB77;
    padding-top:0px;
    font-family: 'Brush Script MT', cursive;
    font-size: 45px;
   
}

.newstory-close {
    float: right;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .5;
    argin-top: -2px;
    
    -webkit-appearance: none;
            padding: 0;
            cursor: pointer;
            background: transparent;
            border: 0;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
/*

 position: relative;
    color: inherit;
*/
}

.newstory-body {
    position: relative;
    padding: 15px;
    margin: 0;
    padding: 0px;
    border: 0;
    font: inherit;
    font-size: 100%;(框框大小)
    vertical-align: baseline;
    /*    box-sizing: border-box;*/
    
}

.newstory-footer {
   text-align: right;
    margin: 45px;
    font: inherit;
    font-size: 100%;
/*    vertical-align: baseline;*/
/*    border: 0;*/
/*    padding: 20px;*/
/*    border-top: 1px solid #e5e5e5;*/
}

.bn-po {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: right;
    width: 15%;
}

.input-story {
    position: relative;
    margin: 0 0px 0 10px;
}


/*loding頁面*/

.loding-header {
    /*min-height: 30px;*/
    padding: 5px 0 0px 0px ;
    border-bottom: 1px solid #A82F5A;
    position: relative;
    text-align: center;
    background-color:#A82F5A;
    height: 10%; 
    width: 100%;
    margin: 0% 0 05% 0%;
}

.loding-close {
    position: relative;
    float: right;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .5;
    argin-top: -2px;
        
    -webkit-appearance: none;
            padding: 0;
            cursor: pointer;
            background: transparent;
            border: 0;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    /* position: relative;
        color: inherit;*/
}

.londing-page {
    position: absolute;
    width: 50%;
    margin: 30px 26% auto;
}

.loding-body {
    position: relative;
    padding: 15px;
    margin: 0 ;
    padding: 0px;
    border: 0;
    font: inherit;
    font-size: 100%;(框框大小)
    vertical-align: baseline;
    /*    box-sizing: border-box;*/
}

/*icon*/

.st-deitor {
    position: absolute;

    right: 0;
}
.e{
  width: 30px;
    height: 20px;
}

.e:hover{
    background-color: #F6EB77;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.st-dd {
    color: #A82F5A;
    background: transparent;
}


.st-ddd {
    left: -120px;
} 

/*刪除確認框*/
.yesno{
   position: absolute;
    width: 80%;
    height: 25%;
    left: 10%;
    top: 30%;
    color:#34495e;
    font-size:150%;
    line-height:100px;
    text-align:center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
/*    background-color:white;
    box-shadow: 0px 2px 5px #34495e;*/
}


.st-yes {

	min-height: 1px;
	padding-right: 20px;
	padding-left:20px;
	width: 50%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    float:left;
    display: block;

}
.st-yes:hover{
    color: #fff;
    background-color:#e74c3c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.st-no {
    /*position: relative;*/
	min-height: 1px;
	padding-right: 20px;
	padding-left:20px;
	width: 50%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    float:right;
    display: block;
}
.st-no:hover{
    color: #fff;
    background-color:#34495e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
/*留言*/
.message-bar {
    position: relative;
    width: 100%;
    height: 25px;
    background-color: #5bc0de;
    top: 0;
    text-align:center;
}

/* 好友 */
.top-friends {
    position: relative;
    width: 5%;
    height: 55px;
    background-color:#F45D93;
    position: fixed;
    top: 0;
    z-index: 1;
}



.bn-reiends {
    position: relative;
    background-color: #F45D93;
    border-color: #F45D93;
    color: #E8FFE5;
    font-size: 25px;
    padding: 18%;
}

/*搜尋好友*/
.top-search {
    max-width:20%;
    position: relative;
    display: table;
/*    border-collapse: separate;*/
    float:left;
    margin-left:5%;
    z-index: 1;
    width: 40%;
    padding-top: 0%;
}

/*搜尋好友列表*/
.friend-list-group {
     padding-left: 0;
     margin-bottom: 20px;
/*
    background-color: #F45D93;
    border-color: #F45D93;
    color: #E8FFE5;
*/
}
