
body{
  background-color: #E8FFE5;
}
.wrapper{
  position: relative;
  font-family: '微軟正黑體', cursive;
  
}

/*登入(index.html)*/

.navigation{
  background-image: url(../img/b3.jpg);
  background-size: cover;
  /*width: 100%;*/
  /*height: 300px;*/
  text-align: center;
  padding-bottom: 150px;

}

.navigation  p{
  color: #E8FFE5;
  font-size: 15px;
  font-family: '微軟正黑體', cursive;
  margin-bottom: 50px;
}

.love-logo{
  color: #F6EB77;
  padding-top: 50px;
  font-family: 'Brush Script MT', cursive;
  font-size: 120px;
}
.love-logo2{
  color: #F6EB77;
  padding-top: 50px;
  font-family: 'Brush Script MT', cursive;

}


.loginmember{
  position: absolute;
  text-align: center;
  background-color: rgba(246, 235, 119, 0.46) ;

/*	border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;*/

}

.bn-signin{
  /*position: absolute;*/
  /*padding: 340px 0 0 485px ;*/
/*  margin-left: 250px;
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;*/
}

.bn-login-signin{
  text-align: right;
}
/*label{
  float: left;
  clear: both;
}*/


/*登入(html.html)*/

/*註冊(sign.html)*/




.navigation2{
  z-index: 1;
  background: rgba(14, 13, 13, 0.76);
/*  width: 100%;
  height: 100%;*/
  padding-bottom: 150px;
}

.signmember{
  padding: 30px;
 top: 100px;
  position: absolute;
  text-align: center;
  background-color: #F6EB77 ;
/*  height: 90%; 
  width: 40%;*/
  /*margin: 2.5% 0 0 30%;*/
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

.bn-sign{
  margin-top: 50px;
}


label{
   padding: 0 20px;
   /*display: block;*/
   float: left;
   clear: both;

}
.aa{
  /*padding: 0 50px;*/
}
/*註冊(sign.html)*/

/*主頁面(main.html)*/

/*新增故事按鈕*/
.bn-newstory{
  z-index: 2;
  position: fixed;
  bottom: 10px;
  right: 15px;
  background-color: #A82F5A;
  color: #E8FFE5;
  font-size: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 10px 15px;
  box-shadow: 3px 1px 3px #888888;
  
}

/*新增故事內容*/
.new-dialog{
  width: auto;
  padding: 20px;
}

.new-content{
  position: relative;
  padding: 10px;
  height: 100%;
  background-color: #E8FFE5;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  /*border-radius: 2px;*/

}

.new-header{
  min-height: 16.42857143px;
  padding: 15px;
  background-color: yellow;
}

.new-body{
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: yellow;
  /*padding: 5%;*/
  left: 25%;
  top: 10%;
}


/*主畫面(main.html)*/

.top-bar {
    position: relative;
    width: 100%;
    height: 55px;
    background-color: #A82F5A;
    position: fixed;
    top: 0;
    z-index: 1;
      
}


.main-logo {
  color: #F6EB77;
  font-family: 'Brush Script MT', cursive;
  font-size: 35px;
  text-align: center;
}

.top-user {   
    position: absolute;
    top: 5px;
    right: 0;
}

.top-img {
  position: absolute;
  background-image: url(../img/user-photo1.png);
  width: 50px;
  height: 50px;
  background-size: cover;
  top: 3px;
  right: 15px;
}
.aa{
   color: white;
   position: absolute;
   font-style: none;
   top: 20px;
  right: 70px;
}
.post-story {
    position: relative;
    display: inline-block;
    background-color: #FFF;

    height: auto !important;
    top: 60px;
    left: 10px;
    right: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #888888;
    margin: 5% 5% 5% 5%;
    
}

.else-user-photo{
  position: absolute;
  background-image: url(../img/user-photo.png);
  border-radius: 50px;
  width: 75px;
  height: 75px;
  background-size: cover;
  left: -20px;
  top: -20px;
}

.story-text {
  padding-left: 10px;
  margin: 0;
  display: block;
  background-color: rgba(168, 47, 90, 0.2);
}

.user-name{
  background-color: #A82F5A;
  display: block;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 65px;
  /*box-shadow: 0 5px 10px #888888;*/
  color: #FFF;
}

.st-photo{
  /*position: absolute;*/
  /*background-image: url(../img/newpic2.jpg);*/
  /*background-size: cover;*/
  overflow: hidden;
  width: 100%;
  /*height: 320px;*/
  
  /*max-width: 100%;*/

}

.story-message{
  background-color: rgba(55, 165, 193, 0.41);
  width: auto;
  height: 12%;
}
.story-messager-photo{
  position: absolute;
  background-image: url(../img/user-photo1.png);
  width: 45px;
  height: 45px;
  background-size: cover;
}
.story-messager-photo2{
  position: absolute;
  background-image: url(../img/user-photo2.png);
  width: 45px;
  height: 45px;
  background-size: cover;
}
.story-messager-photo h6{
  position: absolute;
  top: 35px;
  left: 5px;
  font-size: 10px;
  
}

.story-messager-text{
  /*font-size: 8px;*/
  margin: 15px 0 0 50px; 
  
}
.story-messager-text p{
  font-size: 14px;

}
.user-message{
  bottom: 0;
  
}
.input-message{
  /*width: 77%;*/
  display: inherit;
  height: 40px;
  background-color: rgba(206, 206, 206, 0.7);
  float: left;

}
.bn-comments{
  /*width: auto;*/
  /*height: 10px;*/

}

.message{
  padding-bottom: 20px; 
}

div[class*="story-"]{
  padding: 5px 10px 5px 10px;
}


/*新增文章(new-story.html)*/

.newstory-page {
    position: relative;
    width: 98%;
    margin: 30px auto;
}

.newstory-wall {
    position: relative;
    background-color: #fff; 
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid #999;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: 6px;
            outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.newstory-header {
    /*min-height: 30px;*/
    padding: 15px;
    border-bottom: 1px solid #A82F5A;
    position: relative;
    text-align: center;
    background-color:#A82F5A;
    height: 10%; 
    width: 100%;
    margin: 0% 0 0 0%;
}

.newstory-logo {
     color: #F6EB77;
    padding-top:0px;
    font-family: 'Brush Script MT', cursive;
    font-size: 45px;
   
}

.newstory-close {
    float: right;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .5;
    argin-top: -2px;
    
    -webkit-appearance: none;
            padding: 0;
            cursor: pointer;
            background: transparent;
            border: 0;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
/*

 position: relative;
    color: inherit;
*/
}

.newstory-body {
    position: relative;
    padding: 15px;
    margin: 0;
    padding: 0px;
    border: 0;
    font: inherit;
    font-size: 100%;(框框大小)
    vertical-align: baseline;
    /*    box-sizing: border-box;*/
    
}

.newstory-footer {
   text-align: right;
    margin: 45px;
    font: inherit;
    font-size: 100%;
/*    vertical-align: baseline;*/
/*    border: 0;*/
/*    padding: 20px;*/
/*    border-top: 1px solid #e5e5e5;*/
}

.bn-po {
    position: absolute;
    right: 20px;
    bottom: 20px;
/*    float: right;
    width: 15%;*/
}

.input-story {
    position: relative;
    /*margin: 0 0px 0 10px;*/
}


/*loding頁面*/

.loding-header {
    /*min-height: 30px;*/
    padding: 5px 0 0px 0px ;
    border-bottom: 1px solid #A82F5A;
    position: relative;
    text-align: center;
    background-color:#A82F5A;
    height: 10%; 
    width: 100%;
    margin: 0% 0 05% 0%;
}

.loding-close {
    position: relative;
    float: right;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .5;
    argin-top: -2px;
        
    -webkit-appearance: none;
            padding: 0;
            cursor: pointer;
            background: transparent;
            border: 0;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    /* position: relative;
        color: inherit;*/
}

.londing-page {
    position: absolute;
    width: 50%;
    margin: 30px 26% auto;
}

.loding-body {
    position: relative;
    padding: 15px;
    margin: 0 ;
    padding: 0px;
    border: 0;
    font: inherit;
    font-size: 100%;(框框大小)
    vertical-align: baseline;
    /*    box-sizing: border-box;*/
}

/*icon*/

.st-deitor {
    position: absolute;

    right: 0;
}



.e{
  width: 30px;
    height: 20px;
}

.e:hover{
    background-color: #F6EB77;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.st-dd {
    color: #A82F5A;
    background: transparent;
}


.st-ddd {
    left: -120px;
} 

/*刪除確認框*/
.yesno{
   position: absolute;
    width: 80%;
    height: 25%;
    left: 10%;
    top: 30%;
    color:#34495e;
    font-size:150%;
    line-height:100px;
    text-align:center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
/*    background-color:white;
    box-shadow: 0px 2px 5px #34495e;*/
}


.st-yes {

	min-height: 1px;
	padding-right: 20px;
	padding-left:20px;
	width: 50%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    float:left;
    display: block;

}
.st-yes:hover{
    color: #fff;
    background-color:#e74c3c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.st-no {
    /*position: relative;*/
	min-height: 1px;
	padding-right: 20px;
	padding-left:20px;
	width: 50%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    float:right;
    display: block;
}
.st-no:hover{
    color: #fff;
    background-color:#34495e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
/*留言*/
.message-bar {
    position: relative;
    width: 100%;
    height: 25px;
    background-color: #5bc0de;
    top: 0;
    text-align:center;
}

/* 好友 */
.top-friends {
    position: relative;
    width: 5%;
    height: 55px;
    background-color: #c94373;
    position: fixed;
    top: 0;
    z-index: 1;
}

.fa-users{
  color: #fff;

}
.s{
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.bn-reiends {
    position: absolute;
    background-color: #F45D93;
    border-color: #F45D93;
    color: #E8FFE5;
    font-size: 20px;
    padding: 18%;
}

/*搜尋好友*/
.top-search {
    max-width:20%;
    position: absolute;
    display: table;
/*    border-collapse: separate;*/
    /*float:left;*/
    margin-left:100%;
    top: 2px;
    z-index: -1;
    width: 40%;
    padding-top: 0%;
    margin-top: 0px;
}

/*搜尋好友列表*/
.friend-list-group {
     padding-left: 0;
     margin-bottom: 20px;
/*
    background-color: #F45D93;
    border-color: #F45D93;
    color: #E8FFE5;
*/
}
